@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FDFDFD] text-slate-900 transition-colors duration-500 ease-in-out;
  }

  .dark body {
    @apply bg-slate-900 text-slate-100;
  }
}

html {
  @apply transition-colors duration-500 ease-in-out;
}

/* Theme Transition Mask Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}
